################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Navigator/obj/Debug
/.vs

/NavigatorToolkit.Samples/obj/
/NavigatorToolkit.Samples/bin/Debug
/NavigatorToolkit/bin/Debug
/NavigatorToolkit/obj
